<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xjh1994.helloandroid.cloud">

    <uses-sdk tools:overrideLibrary="com.gc.materialdesign" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
